# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/


# Project-specific

# Local DB
db.sqlite3

# Dynamic files
media/

# Individual settings
*/local_settings.py
